header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: grey;
}

ul{
  text-align: right;
  color: #ffffff;
}

li {
  display: inline;
  list-style-type: none;
  font-size: 40px;
}

section {
  height: 200px;
  width: 80%;
  margin: 30px auto;
}

#relative-box {
  position: right;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

nav a {
  color: beige;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

h1,
h2,
h3 {
  text-align: left;
}